@model InterviewTestTemplatev2.Models.BonusPoolCalculatorModel

@{
    ViewBag.Title = "Index";
}

<h2>Bonus Pool Calculator</h2>

<p>
    In order to calculate the bonus pool allocation for a particular employee, please:
    <br />
    <br />
    1. Enter in a valid amount for the total bonus pool<br />
    2. Select an employee for whom you wish to calculate the allocation<br />
    
</p>

@using (Html.BeginForm("Calculate", "BonusPool", FormMethod.Post))
{

@Html.AntiForgeryToken()
<div>
    <table>
        <tr>
            <td>Bonus Pool Amount (£):</td>
            <td>@Html.EditorFor(model => model.BonusPoolAmount)</td>
        </tr>
        <tr>
            <td>Employee:</td>
            <td>@Html.DropDownListFor(model => model.SelectedEmployeeId, new SelectList(Model.AllEmployees, "EmployeeId", "Full_Name"))</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Calculate" /></td>
        </tr>
      
    </table>

</div>

}
